# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Base de datos
database/tareas.db
*.db
*.sqlite3

# Distribución
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Variables de entorno
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db
